@import "compass/css3/opacity";
@import "compass/css3/transition";
@import "compass/css3/images";

body {
    background: url(/images/dark_wood.png) repeat;
}

#wrapper {
}

#header, #welcome, #servers, #events, #footer {
    @include row;

    & > div {
        @include column(12);
    }
}

#header {
    text-align: center;

    #logo {
        max-width: 300px;
    }

    h1 {
        color: #ccc;
        font-family: 'Alegreya SC', serif;
        margin-top: -0.75em;

        .header_lu, .header_cs {
            display: block;
        }

        .header_lu {
            font-size: 0.8em;
            margin-bottom: -0.5em;
        }

        .header_cs {
            font-size: 1.2em;
            margin-bottom: -0.3em;
        }
    }

    #social_icons img {
        margin: 0 10px;
        display: inline-block;
        @include transition(0.2s all);

        &:hover {
            @include opacity(0.4);
        }
    }
}

#welcome, #servers, #events {
    h2 {
        font-family: 'Bowlby One SC', cursive;
        text-align: center;
        color: #DA7100;
    }
}

#events {
    li {
        @include background-image(linear-gradient(rgba(255, 255, 255, 0), #ccc));
        border: solid 1px #666;
        margin-bottom: 20px;
        padding: 10px;
    }

    h3 {
        padding-top: 0;
        font-family: 'Bowlby One SC', cursive;
    }

    .event_datetime {
        display: inline-block;
        float: right;
        margin-top: -2.7rem;
    }
}

#footer {
    text-align: center;

    p {
        margin-bottom: 0;
        font-size: 0.7em;
        color: #666;

        a {
            color: #666;
            text-decoration: underline;
        }
    }
}

.content {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}

@include respond(all-phones) {
    #header {
        #logo {
            width: 200px;
        }
    }
}
